<br /><br /><br /><br />
<div class='row'>
  <div class = 'col-md-6 col-md-offset-3'>
    <%= form_tag(controller: "court_cases", action: "get_case", method: "post") do %>
      <div class="form-group row">
        <%= label_tag 'Enter a Year:', nil, :class => 'col-sm-4 form-control-label' %>
        <div class='col-sm-4'>
          <%= select_tag 'year', options_for_select(YEARS) %>
        </div>
      </div>
      <div class="form-group row">
        <%= label_tag 'Enter a Reference Number:', nil, :class => 'col-sm-4 form-control-label' %>
        <div class='col-sm-4'>
          <%= text_field 'number', '', :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= label_tag 'Enter a Type', nil, :class => 'col-sm-4 form-control-label' %>
        <div class='col-sm-4'>
          <%= select_tag 'type', options_for_select(TYPES) %>
        </div>
      </div>
      <div class="form-group row">
        <div class='col-sm-8'>
          <%= submit_tag 'submit', :class => "btn btn-large btn-primary pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

